<h1><%= @thirdmodel.name %> Page</h1>


<%= link_to "Edit", edit_secondmodel_thirdmodel_path(@thirdmodel) %> |

<%= link_to "Delete", secondmodel_thirdmodel_path(@thirdmodel), :data => {:confirm => "You Sure?", :method => 'delete'} %> |

<hr>

<%= link_to "Back to secondmodel", secondmodel_path(@secondmodel) %>
