Index Page
<div class="jumbotron">
  <h3>This is a react on rails app</h3>
</div>
<div class="row">
  <div class="col-sm-2">
    <p>
      This is me expirimenting
    </p>
  </div>
  <div class="col-sm-10">
    <%= react_component 'Records', { data: @records } %>
  </div>
</div>
